@media (max-width: 1200px) { 

}
@media (max-width: 1024px) { 
    header#header .toggle-menu {
        display: flex!important;
        position: relative;
        margin-right: 20px;
        left: 0;
    }
    header#header .header-top .container{
        justify-content: center;
    }
    header#header .wrap-menu {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 300px;
        background: #151949;
        transform: translateX(-300px);
        transition: all .3s;
    }
    header#header .wrap-menu.active {
        transform: translateX(0);
        transition: all .3s;
    }
    header#header .wrap-menu .box-menu{
        flex-direction: column;
        padding-top: 20px;
        overflow-y: scroll;
        height: 100%;
        padding-bottom: 40px;
    }
    header#header .wrap-menu .box-menu li{
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }
    header#header .wrap-menu .box-menu li:last-child{
        border: none;
    }
    header#header .wrap-menu li a {
        font-size: 13px;
        padding: 12px 25px;
    }
    header#header .header-main .container{
        max-width: 90%;
    }
    header#header .header-top .list-header-top{
        gap: 10px;
    }
    header#header .header-top .list-header-top .item-header-top a{
        font-size: 11px;
    }
    header#header .header-top .list-header-top .item-header-top a i{
        margin-right: 5px;
    }
    header#header .wrap-menu .box-menu>.item-menu.is-menu-child>.toggle-item-menu{
        margin: 0;
    }
    header#header .wrap-menu li .toggle-item-menu{
        height: 43.5px;
        width: 38px;
        min-width: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 11;
    }
    header#header .wrap-menu ul.menu-child{
        position: relative;
        top: unset;
        left: unset;
        min-width: 100%;
        display: block;
        background: #FFF;
        transition: all .3s;
        transform: unset;
        opacity: unset;
        visibility: unset;
        display: none;
    }
    header#header .wrap-menu ul.menu-child .menu-child{
        left: unset;
        top: unset;
    }
    header#header .wrap-menu li ul.menu-child li{
        display: block;
        background-color: #272f54;
    }
    header#header .wrap-menu li ul.menu-child li a{
        font-size: 12px;
        background-color: rgba(0, 0, 0, 0.2);
        color: #FFF;
        padding-left: 30px;
    }
    header#header .wrap-menu .box-menu .toggle-item-menu i {
        color: #FFF;
    }
    header#header .wrap-menu li:hover>ul.menu-child{
        transition: unset;
    }
    header#header .wrap-menu ul.menu-child li:hover,
    header#header .wrap-menu ul.menu-child{
        background: unset;
    }
    #banner-main img.banner-pc {
        height: 470px;
    }
    #doi-tac .owl-carousel .owl-nav button.owl-prev {
        left: 0;
    }
    #doi-tac .owl-carousel .owl-nav button.owl-next {
        right: 0;
    }
}

@media (max-width: 991px) { 
    #news .banner-new{
        display: none;
    }
}
@media (max-width: 768px) { 
    #banner-main img:not(.banner-pc) {
        display: block;
        min-width: 350px;
    }
    #banner-main img.banner-pc {
        display: none;
    }
    .banner-list-top {
        padding: 70px 0 40px;
    }
    .banner-list-top .item{
        flex-direction: column;
    }
    .banner-list-top .item .box-image{
        padding: 0 0 10px;
    }
    .banner-list-top .item .box-content{
        text-align: center;
    }
    .banner-list-top [class*="col-"]{
        margin-bottom: 30px;
        flex: 0 0 50%;
        max-width: 50%;
    }
    #training .content-training {
        padding: 70px 20px;
        grid-template-columns: 1fr 1fr;
    }
    #training .item-training .title {
        font-size: 13px;
    }
    #training .item-training .title-section {
        font-size: 20px;
        margin: 15px 0 8px;
    }
    #doi-tac {
        padding: 50px 0 80px;
    }
    .banner-list-top .item .box-content .title {
        font-size: 24px;
    }
    .banner-list-top .item .box-content .text {
        font-size: 14px;
    }
    header#header .box-header {
        border-radius: 0;
        padding: 10px 0;
    }
    header#header .header-top{
        display: none;
    }
    header#header .header-main .container{
        max-width: 100%;
    }
    header#header .toggle-menu{
        margin-right: 0;
    }
}
@media (max-width: 640px) {
    #doi-tac .box-title .title {
        font-size: 24px;
    }
    .banner-list-top .item .box-content .title {
        font-size: 20px;
    }
    .banner-list-top .item .box-content .text {
        font-size: 13px;
    }
    #news>.container>.row>[class*="col-"]{
        flex: unset;
        max-width: 100%;
    }
    #news .item-new .box-content .title a {
        font-size: 13px;
    }
    #news .item-new .box-content .date{
        font-size: 13px;
    }
    #news .item-new.big .box-content .title a {
        font-size: 16px;
    }
}
@media (max-width: 540px) {
    
}
@media (max-width: 375px) {
    
}
