:root {
    --color-main: #f7941d;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}

*,
::before,
::after {
    box-sizing: border-box;
}

p {
    margin-bottom: 0px;
}

a {
    color: #FFF;
    transition: all 0.4s ease 0s;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: var(--color-main);
    transition: all 0.4s ease 0s;
}

a:hover * {
    color: var(--color-main);
    transition: all 0.4s ease 0s;
}

a:hover p {
    color: var(--color-text);
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

.mh-auto {
    min-height: auto !important;
}

.mw-auto {
    min-width: auto !important;
}

body {
    font-family: 'Manrope', sans-serif;
    line-height: 1.5;
}

img {
    max-width: 100%;
    object-fit: cover;
    transition: all .4s;
}

.owl-theme .owl-nav{
    margin: 0;
}

/* img:hover{
    opacity: .8;
} */

main.overflow {
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    margin: 0; 
    line-height: 1.5;
}

a:not(.item):focus,
a:not(.item):focus-visible,
input,
input:focus,
button,
button:focus,
select,
select:focus,
select:focus-visible,
textarea,
textarea:focus,
textarea:focus-visible {
    box-shadow: none !important;
    /* border: none; */
    outline: none;
}

.container {
    width: 100%;
    max-width: 1170px;
}
.btn {
    transition: all .4s;
    display: inline-flex;
    align-items: center;
    /* margin: 0 5px; */
    justify-content: center;
    min-width: max-content;
}
.btn.btn-color-main{
    border-radius: 5px;
    border: unset;
    text-transform: none;
    font-size: 14px;
    padding: 5px 10px;
    background-color: var(--color-main);
    color: #FFF;
    min-height: 51px;
    font-weight: 700;
}
.btn.btn-color-main:hover{
    background-color: #060531;
}

  
.btn.btn-color-border-main{
    border-radius: 30px;
    border: unset;
    text-transform: none;
    font-size: 14px;
    padding: 10px 23px 8px;
    border: 1px solid var(--color-main);
    color: var(--color-main);
    min-height: 38px;
    letter-spacing: .03em;
    font-weight: 700;
    margin-bottom: 15px;
}
.btn.btn-color-border-main:hover{
    background-color: #d79f55;
    border-color: #d79f55;
    color: #fff;
}
.font-bold{
    font-weight: 700;
}
.font-normal{
    font-weight: 400!important;
}
.bg-dark{
    background-color: rgb(3, 10, 29)!important;
}
.color-dark{
    color: #252525!important;
}
.color-red{
    color: #f00!important;
}
.color-blue{
    color: #0693e3!important;
}
.color-main{
    color: #FF9B1E!important;
}
.title-main{
    font-size: 30px;
    font-weight: 700;
    color: #FFF;
}
.link-more{
    min-width: 119px;
    height: 35px;
    border-radius: 22px;
    background-color: var(--color-main);
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
    font-size: 14px;
    border-bottom: 2px solid rgba(0,0,0,.05);
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 10%);
}
.link-more i{
    margin-left: 5px;
}
.link-more:hover{
    color: #FFF;
}
.link-more:hover i{
    color: #FFF;
}
.border-radius-10{
    border-radius: 10px;
}

/* hover image  */
.box-image {
    position: relative;
    overflow: hidden;
}
.box-image img{
    width: 100%;
}

/* header  */
header#header .toggle-menu {
    background: transparent;
    height: 20px;
    position: absolute;
    transition: all .3s;
    width: 24px;
    margin-left: 0;
    right: 40px;
    border: none;
}
header#header .toggle-menu span {
    background: #151949;
    border-radius: 2px;
    display: block;
    height: 2px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s;
    width: 100%;
}
header#header.active .toggle-menu span,
header#header.active .toggle-menu:before,
header#header.active .toggle-menu::after{
    background-color: #FFF;
}
header#header .toggle-menu:after, header#header .toggle-menu:before {
    background: #151949;
    border-radius: 2px;
    content: "";
    height: 2px;
    position: absolute;
    transition: all .3s;
    width: 100%;
}
header#header .toggle-menu:after {
    bottom: 0;
    right: 0;
}
header#header .toggle-menu:before {
    top: 0;
}
header#header .toggle-menu.active span {
    background: transparent;
}
header#header .toggle-menu.active:before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
header#header .toggle-menu.active:after {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}
header#header{
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 10;
    transition: all .3s;
    /* transition-delay: 1s; */
}
header#header.active .header-top{
    display: none;
    /* transition-delay: 1s; */
}
header#header.active{
    /* transition-delay: 1s; */
    position: fixed;
    background-color: rgba(39,47,84,1);
}
header#header .header-top{
    position: relative;
    padding-block: 21px;
    border-bottom: 1px solid rgba(238, 238, 238, 0.5);
}
header#header .header-top .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header#header .header-top .list-header-top{
    display: flex;
    align-items: center;
    gap: 18px;

}
header#header .header-top .list-header-top .item-header-top a{
    display: flex;
    align-items: center;
}
header#header .header-top .list-header-top .item-header-top a i{
    margin-right: 10px;
}

header#header .box-header{
    border-radius: 5px;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header#header .wrap-menu .box-menu{
    display: flex;
    align-items: center;
}
header#header .wrap-menu .box-menu .toggle-item-menu i{
    font-size: 11px;
}
header#header .wrap-menu .box-menu>.item-menu.is-menu-child>.toggle-item-menu{
    margin-right: 8px;
}
header#header .wrap-menu .box-menu>.item-menu.is-menu-child .sticky-nav-tab{
padding-right: 0;
}
header#header .wrap-menu .box-menu>.item-menu>.toggle-item-menu i{
    color: #FFF;
}
header#header .wrap-menu .box-menu>.item-menu:hover>.toggle-item-menu i{
    color: var(--color-main);
}
header#header .wrap-menu li{
    position: relative;
}
header#header .wrap-menu li a{
    font-size: 15px;
    color: #FFF;
    padding: 5px 9px;
    text-transform: uppercase;
    transition: all .3s;
}
  
header#header .wrap-menu li:hover>a{
    color: var(--color-main);
    transition: all .3s;
}
/* menu child */
header#header .wrap-menu ul.menu-child {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 250px;
    display: block;
    background: #FFF;
    transition: all .3s;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}
header#header .wrap-menu ul.menu-child li a{
    color: #111;
    display: block;
    padding: 7px 15px;
    text-transform: unset;
    line-height: 1.6;
    width: 100%;
}
header#header .wrap-menu ul.menu-child li:hover{
    background: #ebebeb;
}
header#header .wrap-menu ul.menu-child li:hover>a{
    color: var(--color-main);
    transition: all .3s;
}
header#header .wrap-menu ul.menu-child .menu-child{
    left: 100%;
    top: 0;
}
header#header .wrap-menu li:hover>ul.menu-child {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: all .3s;
}
header#header .wrap-menu li ul.menu-child li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header#header .wrap-menu li ul.menu-child .toggle-item-menu{
    height: 38px;
    width: 30px;
    min-width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header#header .wrap-menu li ul.menu-child li:hover>.toggle-item-menu i{
    color: var(--color-main);
}
/*  */
#banner-main{
    position: relative;
}
#banner-main .owl-carousel.owl-drag .owl-item{
    line-height: 0;
}
#banner-main .owl-carousel .owl-nav button .icon::before,
#banner-main .owl-carousel .owl-nav button .icon::after{
    content: "";
    display: block;
    width: 2px;
    height: 32px;
    background-color: #fff;
    transition: all .3s;
}
#banner-main .owl-carousel .owl-nav button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 50px;
}
#banner-main .owl-carousel .owl-nav button .icon{
    display: block;
}
#banner-main .owl-carousel .owl-nav button:hover{
    background-color: unset;
}
#banner-main .owl-carousel .owl-nav button:hover .icon::before,
#banner-main .owl-carousel .owl-nav button:hover .icon::after{
    background-color: #409915;
}
#banner-main .owl-carousel .owl-nav button.owl-prev{
    left: 30px;
}
#banner-main .owl-carousel .owl-nav button.owl-next{
    right: 50px;
}
#banner-main .owl-carousel .owl-nav button.owl-prev .icon::before{
    opacity: .75;
    transform: translate(10px, -3px) rotate(38deg);
}
#banner-main .owl-carousel .owl-nav button.owl-prev .icon::after{
    transform: translate(10px, -10px) rotate(-38deg);
}
#banner-main .owl-carousel .owl-nav button.owl-next .icon::before{
    opacity: .75;
    transform: translate(10px, -3px) rotate(-38deg);
}
#banner-main .owl-carousel .owl-nav button.owl-next .icon::after{
    transform: translate(10px, -11px) rotate(38deg);
}
#banner-main .item{
    display: block;
    width: 100%;
}
#banner-main img:not(.banner-pc){
    display: none;
}
.banner-list-top{
    background-image: url(../images/banner-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;
}
.banner-list-top .item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-list-top .item .box-image{
    padding-right: 20px;
}
.banner-list-top .item .box-image img{
    width: 100%;
    max-width: 65px;
}
.banner-list-top .item .box-content .title{
    font-size: 30px;
    line-height: calc(32 / 30);
    color: #27323d;
    font-weight: bold;
    margin-bottom: 3px;
}
.banner-list-top .item .box-content .text{
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: #848d95;

}

#training {
    background: #d7d7d7;
    padding: 50px 0;
}
#training .content-training{
    background: #fff;
    padding: 100px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#training .item-training{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 207px;
    padding-right: 50px;
}
#training .item-training .title-section{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #252525;
    margin: 20px 0 10px;
}
#training .item-training .text-section{
    font-size: 13px;
    color: #707070;
}
#training .item-training:not(:first-child){
    padding: 5px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    transition: all .4s;
    overflow: hidden;
}
#training .item-training:not(:first-child):after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    color: #FFF;
}
#training .item-training .title{
    position: relative;
    font-size: 18px;
    color: #FFF;
    font-weight: 700;
    z-index: 2;
    margin-bottom: 15px;
    transition: all .4s;
}
#training .item-training .list{
    transition: all .4s;
    opacity: 0;
    max-height: 0;
    visibility: hidden;
    position: relative;
    z-index: 2;
}
#training .item-training .list{}
#training .item-training:not(:first-child):hover{
    justify-content: center;
    transition: all .4s;
}
#training .item-training:not(:first-child):hover .list{
    max-height: 200px;
    visibility: visible;
    opacity: 1;
}
#training .item-training .list li .item-list{
    position: relative;
    padding-bottom: 5px;
    font-weight: 700;
    width: 100%;
    display: block;
    color: #fff;
    text-align: left;
    z-index: 2;
    font-size: 11px;
    transition: all .4s;
}
#training .item-training .list li .item-list:hover{
    color: var(--color-main);
}
#training .item-training:nth-child(2)::after{
    background-color: #003471;
}
#training .item-training:nth-child(3)::after{
    background-color: #3cb878;
}
#training .item-training:nth-child(4)::after{
    background-color: #004a80;
}
#training .item-training:nth-child(5)::after{
    background-color: #20ccb2;
}
#training .item-training:nth-child(6)::after{
    background-color: #f26522;
}
#training .item-training:not(:first-child):hover:after {
    opacity: 0.68;
    background-color: #272f54;
}

#news{
    margin: 50px 0;
}
#news .title-section{
    font-size: 24px;
    color: #192041;
    margin-bottom: 15px;
    font-weight: 700;
    margin-top: 0;
}
#news .item-new{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #909498;
    padding-bottom: 20px;
    color: #192041;
    padding: 20px 0;
}
#news .item-new .box-image{
    margin-right: 12px;
    min-width: 100px;
    width: 100px;
}
#news .item-new .box-image img{
    width: 100%;
    height: 100%;
}
#news .item-new .box-content .title,
#news .item-new .box-content .title a{
    font-size: 16px;
    font-weight: 700;
    color: #192041;
}
#news .item-new .box-content .title a{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
#news .item-new .box-content .title a:hover{
    color: var(--color-main);
}
#news .item-new .box-content .date{
    font-size: 14px;
    color: #909498;
    padding-bottom: 5px;
    font-weight: 500;
    margin-top: 5px;
}
#news .item-new.big{
    display: block;
}
#news .item-new.big .box-image{
    width: 100%;
    margin: 0 0 20px;
}
#news .item-new.big .box-content .title,
#news .item-new.big .box-content .title a{
    font-size: 18px;
    margin-bottom: 5px;
}
#news .item-new.big .box-content .date{
    margin-bottom: 5px;
}

#news .banner-new{
    width: 100%;
    margin-top: 51px;
}
#news .banner-new img{
    width: 100%;
}

#banner-section-last .box-image{
    display: block;
    width: 100%;
}
#banner-section-last img:not(.banner-pc){
    display: none;
}
#doi-tac{
    padding: 70px 0 120px;
}
#doi-tac .box-title{
    text-align: center;
}
#doi-tac .box-title .title{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}
#doi-tac .box-title .title::after {
    margin: 30px auto 0;
    content: '';
    height: 1px;
    background: #f7941d;
    width: 60px;
    display: block;
}

#doi-tac .owl-carousel{
    margin-top: 30px;
    position: relative;
}
#doi-tac .owl-carousel .owl-nav button::before{
    content: "";
    display: block;
    color: #f7941d;
    opacity: .75;
    margin: 0;
    font-size: 24px;
    line-height: 1;
}
#doi-tac .owl-carousel .owl-nav button span{
    display: none;
}
#doi-tac .owl-carousel .owl-nav button:hover{
    background-color: unset;
}
#doi-tac .owl-carousel .owl-nav button.owl-prev::before{
    content: "←";
}
#doi-tac .owl-carousel .owl-nav button.owl-next::before{
    content: "→";
}
#doi-tac .owl-carousel .owl-nav button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}
#doi-tac .owl-carousel .owl-nav button.owl-prev{
    left: -40px;
}
#doi-tac .owl-carousel .owl-nav button.owl-next{
    right: -40px;
}
#doi-tac .owl-carousel .item{
    display: flex;
    align-items: center;
    justify-content: center;
}
#doi-tac .owl-carousel .item img{
    width: auto;
    max-width: 100%;
}
#doi-tac .owl-carousel .owl-stage{
    display: flex;
}
#doi-tac .owl-carousel .owl-stage .item{
    height: 100%;
}


/* footer */
.footer-widgets {
	background-color: #192041;
	color: #fff;
	position: relative;
	border-top: 10px solid #f7941d;
}

.footer-widgets > .container {
	padding-top: 50px;
	padding-bottom: 40px;
	overflow: hidden;
	font-size: 13px;
    max-width: 1200px;
}

.footer-widgets .widget-title {
	color: #fff;
}

.site-footer {
	background: #fff;
}

.site-footer .menu {
	text-align: center;
	padding: 19px 0 18px;
	border-bottom: 1px solid #313131;
	margin: 0;
}

.site-footer .menu li {
	padding: 0 18px;
}

.site-footer .menu li:hover a:before,
.site-footer .menu li:hover span {
	color: #a22531;
	transition: all .3s;
}

.site-footer .menu a {
	font-weight: bold;
	font-size: 14px;
	font-size: 1.4rem;
	text-transform: uppercase;
	color: #272f54;
}

.site-footer .menu a:hover {
	color: #a22531;
}

.site-footer .menu a:before {
	margin-right: 10px;
	color: #272f54;
	position: relative;
	top: 1px;
}

.site-footer .footer-content {
	max-width: 1170px;
	margin: 0 auto;
}

.site-footer .jetpack-social-navigation .screen-reader-text {
	height: auto;
	width: auto;
	position: relative;
}

.site-footer .site-info {
	text-align: center;
	padding: 20px 0;
	color: #272f54;
	font-size: 13px;
	font-size: 1.3rem;
}

.site-footer .site-info a {
	color: #a22531;
	font-style: italic;
	line-height: 2.77;
	text-align: left;
	font-size: 13px;
	font-size: 1.3rem;
}

.site-footer .site-info a:hover {
	color: #131313;
}



.title-footer{
    color: var(--color-main);
    margin-bottom: 10px; 
    font-size: 20px;
}

footer#footer .footer-xs{
    text-decoration: underline; 
    padding-top: 10px;
    margin-bottom: 5px;
}
footer#footer i{
    color: var(--color-main);
    margin-right: 3px;
}
footer#footer .textwidget p{
    margin-bottom: 19.5px;
    line-height: 25px;
}
.footer-3 {
    margin-top: 18px;
}











  
